node_modules/
dist/
.angular/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# IDEs (VSCode, JetBrains, etc.)
.vscode/
.idea/
*.iml

# Sistema operativo (Windows/Mac)
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs y archivos temporales
logs/
*.log
*.tmp
*.temp

# Docker (opcional)
*.dockerignore
docker-compose.override.yml

# Otros archivos sensibles o temporales
.env.*